BASIC_CLAUDE_CODE_TOKEN="sk-ant-oat01-..."

ELEVENLABS_API_KEY="sk_..."
ELEVEN_LABS_DICTIONARY=""
ELEVENLABS_PRIMARY_MODEL=eleven_flash_v2_5

LOGO_DEV_PUBLISHABLE_KEY=
LOGO_DEV_SECRET_KEY=

ADD_EMOTIONS=false

ENV=dev

MAPBOX_TOKENS=
